@font-face {
    font-family: "Gidole";
    src: url("https://bheberlein.github.io/font/Gidole-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    align: center;
    text-align: center;
    color: black;
    font-family: "Gidole", Sans-Serif;
    font-weight: 200;
}
