@font-face {
    font-family: "Gidole";
    src: url("https://bheberlein.github.io/font/Gidole-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    color: orange;
    font-family: "Gidole", Sans-Serif;
}
